@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #191919;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    margin: 0;
    height: 99%;
}


/* welcome styling */

.name_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

[data-margin-top-="Mtop"]+[data-margin-top-="Mtop"] {
    margin-top: 10px;
}

.name_label {
    text-align: center;
    font-size: 4vw;
}

.name_label p {
    margin: 0;
}

.name_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.name_input input {
    width: 90%;
    height: 4vw;
    text-align: center;
    font-size: 3vw;
    font-family: 'Anton', sans-serif;
    border-radius: 2px;
    border: none;
    letter-spacing: 1px;
}

.name_input input:focus {
    outline: 1px solid #1DBAE8;
    -webkit-box-shadow: 0 0 10px #1DBAE8;
    box-shadow: 0 0 10px #1DBAE8;
}

.form_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.form_button button {
    width: 30%;
    font-size: 4vw;
    border-radius: 2px;
    border: none;
    background-color: #3FE50E;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
}

.form_button button:hover {
    background-color: #51ff1c;
}


/* animations */

.animate__bounceInDown,
.animate__bounceInUp {
    --animate-duration: 3s!important;
    --animate-delay: 0s!important;
}

.animate__fadeInLeftBig {
    --animate-duration: 1s!important;
    --animate-delay: 0s!important;
}

.animate__fadeOutUpBig,
.animate__fadeOutDownBig,
.animate__fadeOutLeftBig {
    --animate-duration: 3s!important;
    --animate-delay: 0s!important;
}

.animate__fadeIn {
    --animate-duration: 3s!important;
    --animate-delay: 0s!important;
}

.questionsAnswers .animate__fadeInRightBig {
    --animate-duration: 5s!important;
    --animate-delay: 3s!important;
}

.questionsAnswers .animate__fadeInLeftBig {
    --animate-duration: 5s!important;
    --animate-delay: 3s!important;
}


/* information in portofilio styling */

main {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
}

.align-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.welcome {
    font-size: 6vw;
    text-align: center;
}

.welcome p {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 0;
}

.questionsAnswers {
    list-style: none;
    padding-left: 0;
}

.questionsAnswers li {
    padding: 20px;
    border-radius: 10px;
}

.questionsAnswers li:nth-child(1) {
    background-color: brown;
}

.questionsAnswers li:nth-child(2) {
    background-color: dimgray;
}

.questionsAnswers li:nth-child(3) {
    background-color: cornflowerblue;
}

.questionsAnswers li:nth-child(4) {
    background-color: #2c475e;
}

.questionsAnswers li:nth-child(3) h1 {
    margin-bottom: 10px;
}

.questionsAnswers li:nth-child(4) h1 {
    margin: 0;
}

.questionsAnswers li:nth-child(5) {
    background-color: #1d831d
}

.questionsAnswers li:nth-child(even) header {
    text-align: end;
}

li+li {
    margin-top: 20px;
}

header h1 {
    font-style: italic;
}

.questionsAnswers h1 {
    font-size: 5vw;
    font-weight: 100;
}

.genInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4vw;
}

.genInfo .picture {
    width: 50%;
}

.mypicture {
    width: 100%;
}

.genInfo .info {
    margin-left: 3%;
}

.techIcons .icon {
    text-align: center;
    border: 4px solid black;
    padding: 10px;
    width: 30%;
    margin-bottom: 5px;
}

.techIcons .icon img {
    height: 100%;
    width: 100%;
}

.techIcons .icon h1 {
    margin: 0;
}

.projects div {
    width: 49%;
    border: 2px solid #FFFFFF;
    margin-bottom: 5px;
}

.projects a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.projects img {
    width: 100%;
    max-height: 352px;
}

.projects img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cv button {
    background-color: transparent;
    width: 20vw;
    height: 20vw;
    border: 4px outset #62a8e5;
    font-family: anton;
    color: #ffff;
    border-radius: 10px;
    font-size: 5vw;
    cursor: pointer;
}

.cv button:hover {
    border-style: inset;
}

.contact div {
    width: 30%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact img {
    width: 100%;
}

.contact img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media all and (max-width: 620px) {
    .projects div {
        width: 90%;
    }
    .genInfo .picture {
        width: 90%;
    }
    .projects img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .contact img:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}